.container {
  border: 5px solid blue;
  margin: 40px;
}

.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
  height: 100px;
  /* try changing the margin properties: */
  margin-top: 140px;
  margin-right: 130px;
  margin-bottom: 140px;
  margin-left: 10px;
}