/* button 1 */
.b1 {
    background-color: black; color:white;
}
/* button 2 */
.b2{
    background-color: yellow;
}
/* Grouping */
.b1, .b2 {
    font-size: 28px; font-family: Helvetica, 'Times New Roman', sans-serif;
}