p {
  color: purple;
}
/* style.css */

div {
  color: cyan;
}
* {
  color: brown;
}
/* style.css */

.alert-text {
  color: yellow;
}
/* style.css */

#title {
  background-color: blue;
}
.subsection.header {
  color: red;
}

